/* Width for first column */
div.clubProfile table tr th:nth-child(1),
div.clubProfile table tr td:nth-child(1) {
    width: 150px;
}

.clubProfile table {
    width: 100%; /* Or any specific width */
    table-layout: auto;
}

.clubProfile table th, .clubProfile table td {
    box-sizing: border-box;
}

.clubProfile td span:hover {
    text-decoration: underline;
}

.clubProfile{
    font-size: 13px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .clubProfile{
        font-size: 16px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}