/* Width for first column */
div.playerStats table tr th:nth-child(1),
div.playerStats table tr td:nth-child(1) {
    width: 150px;
}

/* Width for first column */
div.playerStats table tr th:nth-child(2),
div.playerStats table tr td:nth-child(2) {
    width: 200px;
}

/* Width for first column */
div.playerStats table tr th:nth-child(3),
div.playerStats table tr td:nth-child(3) {
    width: 340px;
}

/* Width for first column */
div.playerStats table tr th:nth-child(4),
div.playerStats table tr td:nth-child(4) {
    width: 100px;
}

/* Width for first column */
div.playerStats table tr th:nth-child(5),
div.playerStats table tr td:nth-child(5) {
    width: 100px;
}


/* Width for first column */
div.playerStats table tr th:nth-child(6),
div.playerStats table tr td:nth-child(6) {
    width: 100px;
}

/* Width for first column */
div.playerStats table tr th:nth-child(7),
div.playerStats table tr td:nth-child(7) {
    width: 100px;
}

/* Width for first column */
div.playerStats table tr th:nth-child(8),
div.playerStats table tr td:nth-child(8) {
    width: 130px;
}

/* Width for first column */
div.playerStats table tr th:nth-child(9),
div.playerStats table tr td:nth-child(9) {
    width: 100px;
}

.playerStats table {
    width: 100%; /* Or any specific width */
    table-layout: fixed;
}

.playerStats table th, .playerStats table td {
    box-sizing: border-box;
}

/* Add alternating row colors */
.playerStats table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Set the background color for odd rows */
}

.playerStats table tbody tr:nth-child(even) {
    background-color: #ffffff; /* Set the background color for even rows */
}

.playerStats td span{
    cursor: pointer;
}

.playerStats td span:hover{
    cursor: pointer;
    text-decoration: underline;
}
