/* Width for first column */
div.topPerformersList table tr th:nth-child(1),
div.topPerformersList table tr td:nth-child(1) {
    width: 200px;
}

/* Width for first column */
div.topPerformersList table tr th:nth-child(2),
div.topPerformersList table tr td:nth-child(2) {
    width: 150px;
}

/* Width for first column */
div.topPerformersList table tr th:nth-child(3),
div.topPerformersList table tr td:nth-child(3) {
    width: 200px;
}

/* Width for first column */
div.topPerformersList table tr th:nth-child(4),
div.topPerformersList table tr td:nth-child(4) {
    width: 200px;
}

/* Add alternating row colors */
.topPerformersList table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Set the background color for odd rows */
}

.topPerformersList table tbody tr:nth-child(even) {
    background-color: #ffffff; /* Set the background color for even rows */
}

.topPerformersList td span{
    cursor: pointer;
}

.topPerformersList td span:hover{
    cursor: pointer;
    text-decoration: underline;
}


